@page "/allOrders"
@using AutomateWarehouse.Data
@inject OrderRepository orderRepo
@inject CustomerRepository custRepo
@inject ProductRepository prodRepo
@inject OrderLineRepository orderLineRepo


<h3>All orders</h3>

<div class="container">

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Customer id</th>
                <th>Order date</th>
                <th>Delivery address</th>
                <th>Payment completed</th>
                <th>Order dispatched</th>
                <th>Edit order</th>
                <th>Pay order</th>
            </tr>
        </thead>
        <tbody>
            @if (orders.Any())
            {
                @foreach (var orde in orders)
                {
                    <tr>
                        <td>@orde.CustomerId</td>
                        <td>@orde.OrderDate</td>
                        <td>@orde.DeliveryAddress</td>
                        <td>@orde.PaymentCompleted</td>
                        <td>@orde.Dispatched</td>
                        <td><button class="btn btn-info">Edit</button></td>
                        <td>
                            <input type="checkbox" onchange="document.getElementById('PayButton').disabled = !this.checked;" />
                            <input type="button" name="PayButton" class="btn btn-info" id="PayButton" value="PayButton" disabled @onclick="(() => PayOrderAsync(orde))" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <button class="btn btn-info" @onclick="(() => GetAllDispatchedOrdersAsync())">Show all dispatched orders</button>

    <button class="btn btn-info" @onclick="(() => GetAllPendingdOrdersAsync())">Show all pending orders</button>

    <button class="btn btn-info">Process all orders</button>
</div>


<div class="row m-5">
    <div class="col-5 bg-light m-2 justify-content-start">
        <div class="p-3 mb-3 bg-primary text-white text-center">
            Create new Order
        </div>
        <EditForm Model="@newOrder" OnValidSubmit="@AddNewOrder">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                @*Binder respektive värde nedanför till objektet newOrder*@
                <div class="form-group">
                    <label for="dept">Products</label>
                    <select type="type" id="prod" class="form-control select-picker" @bind="@newOrderLine.ProductId">
                        <option value="">Pick product</option>
                        @foreach (var prod in products)
                        {
                            <option value="@prod.Id">@prod.Name</option>
                        }
                    </select>
                </div>

                <label for="quant">Quantity</label>
                <input type="type" id="quant" class="form-control" @bind-value="@newOrderLine.Quantity" />

                <div class="text-center p-3 mb-3">
                    <button class="btn btn-info" type="submit" @*@onclick="(() => AddNewOrder())" *@>Add product</button>
                </div>


                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (orderLines.Any())
                        {
                            @foreach (var ordLin in orderLines)
                            {
                                <tr>
                                    <td>@ordLin.Product.Name</td>
                                    <td>@ordLin.Quantity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label for="dept">Customer</label>
                <select type="type" id="cust" class="form-control select-picker" @bind="@newOrder.CustomerId">
                    <option value="">Pick customer</option>
                    @foreach (var cust in customers)
                    {
                        <option value="@cust.Id">@cust.Name</option>
                    }
                </select>
            </div>

            <label for="name">Address</label>
            <input type="type" id="Address" class="form-control" @bind-value="@newOrder.DeliveryAddress" />
            <br>
            <div class="text-center p-3 mb-3">
                <button class="btn btn-info" type="submit" @onclick="(() => AddNewOrder())">Create Order</button>
            </div>

        </EditForm>
    </div>
</div>





@*<div class="container">
        @if (ordersDispatched.Any())
        {
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer id</th>
                        <th>Order date</th>
                        <th>Delivery address</th>
                        <th>Payment completed</th>
                        <th>Order dispatched</th>
                        <th>Edit order</th>
                        <th>Pay order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orde in ordersDispatched)
                    {
                        <tr>
                            <td>@orde.CustomerId</td>
                            <td>@orde.OrderDate</td>
                            <td>@orde.DeliveryAddress</td>
                            <td>@orde.PaymentCompleted</td>
                            <td>@orde.Dispatched</td>
                            <td><button class="btn btn-info">Edit</button></td>
                            <td>
                                <input type="checkbox" onchange="document.getElementById('PayButton').disabled = !this.checked;" />
                                <input type="button" name="PayButton" class="btn btn-info" id="PayButton" value="PayButton" disabled @onclick="(() => PayOrderAsync(orde))" />
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        }
    </div>*@

@*<div class="container">
        @if (ordersPending.Any())
        {
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer id</th>
                        <th>Order date</th>
                        <th>Delivery address</th>
                        <th>Payment completed</th>
                        <th>Order dispatched</th>
                        <th>Edit order</th>
                        <th>Pay order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orde in ordersPending)
                    {
                        <tr>
                            <td>@orde.CustomerId</td>
                            <td>@orde.OrderDate</td>
                            <td>@orde.DeliveryAddress</td>
                            <td>@orde.PaymentCompleted</td>
                            <td>@orde.Dispatched</td>
                            <td><button class="btn btn-info">Edit</button></td>
                            <td>
                                <input type="checkbox" onchange="document.getElementById('PayButton').disabled = !this.checked;" />
                                <input type="button" name="PayButton" class="btn btn-info" id="PayButton" value="PayButton" disabled @onclick="(() => PayOrderAsync(orde))" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>*@



@code {
    private List<Order> orders;
    private List<Order> ordersDispatched = new List<Order>();
    private List<Order> ordersPending = new List<Order>();
    private List<OrderLine> orderLines = new List<OrderLine>();
    private List<Customer> customers;
    private List<Product> products;

    Order newOrder = new Order();
    Order updateOrder = new Order();
    bool checkedValue = false;

    OrderLine newOrderLine = new OrderLine();

    protected override async Task OnInitializedAsync()
    {
        orders = await orderRepo.GetAllOrdersAsync();
        customers = await custRepo.GetCustomerAsync();
        products = await prodRepo.GetAllProductsAsync();
    }

    private async Task AddNewOrder()
    {
        newOrder.OrderDate = DateTime.Now;

        await orderRepo.AddNewOrderAsync(newOrder);
        await UpdateGUI();
    }

    private async Task AddNewOrderLine()
    {
        await orderLineRepo.AddNewOrderLineAsync(newOrderLine);


    }


    private async Task PayOrderAsync(Order order)
    {
        await orderRepo.PayOrderAsync(order);
        await UpdateGUI();
    }

    private async Task GetAllDispatchedOrdersAsync()
    {
        ordersDispatched = await orderRepo.GetAllDispatchedOrdersAsync();
    }

    private async Task GetAllPendingdOrdersAsync()
    {
        ordersPending = await orderRepo.GetAllPendingOrdersAsync();
    }

    protected async Task UpdateGUI()
    {
        orders = await orderRepo.GetAllOrdersAsync();
    }
}
